.navbar {
  height: 9.01vh;
  width: 100%;
  padding: 1px 9.01vw;
  box-sizing: border-box;
  background-color: #01303f;
  color: #89d6fb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 2.12vh 1.19vh #02577a;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 21px;
}

footer {
  padding: 55px 7vw;
  box-sizing: border-box;
  background-color: #212121;
  color: #fff;
}

footer .msg {
  font-size: 21px;
}
