.navbar {
  height: 9.01vh;
  width: 100vw;
  padding: 1px 9.01vw;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;  

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.12vh;
}

.navbar h3 {
  font-weight: 800;
  font-size: 2.92vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5.57vh;
}

footer {
  width: 100vw;
  padding: 3.44vh 9.01vw;
  box-sizing: border-box;
  background-color: #101010;
  color: #fff;
  text-align: center;

}


footer a {
  color: rgb(251, 214, 137);
}

