.navbar {
  position:fixed;
  height: 8.8vh;
  width: 100vw;
  padding: 1px 8.8vw;
  box-sizing: border-box;
  background-color: #012622;
  box-shadow: inset 0 0 34px 1px #000;
  color: #fff;  
  gap:0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vh;
  z-index: 10000;
}

.navbar h3 {
  margin: 0;
  font-weight: 800;
  font-size: 4vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar h4 {
  color:#ECE5F0;
  margin: 0;
  font-weight: 800;
  font-size: 1.8vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5.57vh;
}

footer {
  width: 100vw;
  padding: 3.44vh 9.01vw;
  box-sizing: border-box;
  background-color: #101010;
  color: #fff;
  text-align: center;

}


footer a {
  color: rgb(251, 214, 137);
}

