.home-page .hero {
  padding: 0 14.5vw;
  box-sizing: border-box;
  color: #d4f0fc;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.hero .name {
  font-size: 3.44vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero .summary {
  font-size: 2.12vh;
  font-family: Arial, Helvetica, sans-serif;
  width: 23.6vw;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 3.44vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
/*  #d4f0fc  #89d6fb  #02a9f7  #02577a  #01303f    */

.hero .image {
  background-position: center;
  width: 23.6vw;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2.12vw;
}
.summary strong {
  text-decoration: underline;
}
.hero .discription {
  padding:  2.12vw 2.12vw;
  box-shadow: 0 0 3.44vh 1.19vh #d4f0fc;
  background-color: #01303f;
  border-radius: 2.12vw 1.19vh;
}
.portfolio h1 {
  font-size: 89px;
  padding: 55px 21px;
  color: #fff;
  background-color: #02577a;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: calc(100vh - 9.01vh);
  background: repeating-radial-gradient(#89d6fb , #02577a);
}

.portfolio {
  padding: 233px 7vw;
  box-sizing: border-box;
  background-color: #01303f;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5.57vw;
}

.portfolio .piece {
  color: #d4f0fc;
  box-shadow: 0 0 3.44vh 1.19vh #d4f0fc;
  border-radius: 21px;
  width: fit-content;
  box-sizing: border-box;
  width: 23.6vw;
  padding: 3.44vh 2.12vw;
  transition: 0.48s ease-in-out;
}

.portfolio .piece:hover {
  color: #000;
  background-color:  #89d6fb;
  box-shadow: 0 0 3.44vh 1.19vh #89d6fb;;
  border-radius: 21px;
  width: fit-content;
  box-sizing: border-box;
  width: 23.6vw;
  padding: 3.44vh 2.12vw;
  transition: 0.48s ease-in-out;
}


.piece .links {
  display: flex;
  flex-direction: row;
  gap: 89px;
}

.piece img {
  border-radius: 2.12vh;
  border: 0.3vh solid #fff;
}

.piece .links a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

a {
  color: #fff;
}