.home-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 14.5vh;
  align-items: center;
  box-sizing: border-box;
  padding-top: 8.8vh;
}
.home-page .hero {
  padding: 5.2vh 12vw;
  width:100vw;
  box-sizing: border-box;
  color:  #fff;
  height: calc(100vh - 8.8vh);
  background: linear-gradient(69deg, #ECE5F0, #E98A15);
  box-shadow: inset 0 0 216px 26px #E98A15;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.background_image {
  width: 100vw;
  height: calc(100vh - 8.8vh);
  position: absolute;
  background-image: url("../media/bg3.png");
  background-color:  #012622;
  background-blend-mode:difference;
  z-index: -1;
  display: none;
}


.hero .name {

  font-size: 3vh;
  text-shadow: 2px 2px 2px #000;
  justify-self: center;
  text-align: center;
  word-spacing:0.8vh;
  font-weight: 400;
  background: none;
  box-sizing: border-box;
  color:#fff;
  border: 0.5vh solid  #E98A15;
  width: fit-content;
  padding: 3px 12px;
  height: 5.2vh;
  background-color: #E98A15;
  box-shadow:  inset 2px 1px 12px 2px rgba(0, 0, 0, 0.8);
 
}

.hero .summary {
  text-shadow: 2px 2px 2px #000;
  font-size: 5.2vh;
  font-family: Arial, Helvetica, sans-serif;
  width: 23.6vw;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 6.7vh;
  animation: max 0.48 ease-in-out;
  
}
/*  #d4f0fc  #89d6fb  #02a9f7  #02577a  #01303f    */

.hero .image {

  height: 76vh;
  image-rendering: optimizeQuality;
  padding-top: 0;
  border-radius: 1.8vh;
 align-self: flex-start;
 justify-self: flex-start;
margin: 0;

}

.hero .person {

  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: start;
  gap: 0;
}



.summary strong {
  line-height: calc(2.12vw + 3px);
  padding: 3px;
  color: #012622;
  background-color: #E98A15;
}
.discription h4 {
  margin:0;
  margin-left: 1.8vw;
}

.hero .discription {
  padding:  5.2vh 3vw;

  width: fit-content;
  box-sizing: border-box;
  height: fit-content;

  border-radius: 1.8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: skewX(-5.2deg);
  box-shadow: inset 0.6vh 0.8vh 3vw 1px rgba(0,0,0,1);;

 
}




.portfolio h1 {
  font-size: 5.2vh;
  text-shadow: 2px 2px 2px #000;
  padding: 3vh 2.8vh;
  color: #ECE5F0;
  background-color: #012622;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.portfolio {
  padding: 12vh 20vw;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(69deg, rgb(19, 15, 26), #012622);
  box-shadow: inset 0 0 216px 26px #003B36;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5.57vw;

  justify-items: center;
}

.skills {
  padding: 0 5.2vw;
  width: 100vw;
  height: 100vh;

  box-sizing: border-box;
  background: linear-gradient(69deg, #ECE5F0, #E98A15);
  box-shadow: inset 0 0 216px 26px #E98A15;
  color: #ECE5F0;
  display: flex;
  flex-direction: row;
justify-content: center;
align-items: center;
}

.skills div img {
  margin: 0;
  height: 15vh;
  align-self: center;
  justify-self: center;
}
.skills h3 {
  color:#012622;
margin-top:3vh;
  font-size: 3vh;
  text-align: center;
}
.skills u  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8vh;
  text-decoration: none;
  font-size: 1.99vh;
  font-weight: 400;
  color:#ECE5F0;
  padding: 3.44vh 3.44vw;
  width: fit-content;
  
}

.skills div {
  

  background-color: #E98A15;
  border-radius: 3vw 3vw;
  box-shadow: 2px 2px 6px 1px rgb(0,0,0,0.7);
  height: fit-content;
  padding: 5.2vh 3vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.8vw;
  
}

.skills u li {

}

.home-page .heading {
  align-self: center;
  font-size: 5.57vh;
  color:  #E98A15;
  padding-bottom: 3vh;
  border-bottom: 0.8vh solid #ECE5F0;
}

.portfolio .piece {
  transform: skewX(-5.8deg);
  color: #ECE5F0;
  box-shadow: inset 1vh 1vh 1.8vh 0.1vh  #012622;
  background-color: #003B36;
  border-radius: 1vh;
  padding: 3vh 1vw;
  width: 15vw;
  height: 34vh;
  box-sizing: border-box;
  transition: 0.48s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  font-size: 0.8vw;
}


.portfolio .piece:hover {
  transform: skewX(-2.8deg);
  
}

.discription img {
  width: 8.8vw;
  align-self: left;
  border-radius: 0.8vh;
  margin:0;
}
.piece .links {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  justify-content: space-evenly;
  width: 53%;
}

.piece img {
  justify-self: center;
  width: 100%;
  border-radius: 3vh;
  border: 2px solid #E98A15;
}

.piece a {
 font-size: 0.8vw;
  justify-self: center;
}

.piece .links a {
  font-size: 1vw;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

a {
  color: #fff;
}

.piece .links a:hover {
  text-decoration: underline;
}

.cta {
  width: 58vw;
  padding: 9.01vh 5.57vw 9.01vh 5.57vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.12vh;
  background: #E98A15;
  box-shadow: inset 0 0 58px 1px rgb(0,0,0,0.7);
  margin-bottom: 14.5vh;
  border-radius: 5.57vw;
}

.cta h3 {
  color: #ECE5F0;
  text-align: center;
  line-height: 3.44vh;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: sans-serif;
  font-size: 2.12vh;
}

.cta .button {
  width: fit-content;
  height: fit-content;
  font-size: 2.12vh;
  padding: 1.19vh 2.12vw;
  border-radius: 0.8vh;
  background-color:  #E98A15;
  color: rgb(0,35,46);
  border: 1px solid #000;
  text-decoration: none;
  font-weight: 800;
  transition: 0.28s ease-in-out;
}

.cta .button:hover {
  width: fit-content;
  height: fit-content;
  font-size: 2.12vh;
  padding: 1.19vh 2.12vw;
  border-radius: 0.8vh;
  background-color: #ECE5F0;
  color: rgb(0,35,46);
  border: 1px solid #000;
  text-decoration: none;
  font-weight: 800;
  transition: 0.48s ease-in-out;
}


.socials {


  background-color: rgb(251, 214, 137, 0.27);
  padding: 1.19vh;
  border-radius: 2.12vh;
  display: flex;
  flex-direction: row;
  gap:2.12vh;;
}

.socials img {
  height: 5.57vh;
}

@media (max-width: 850px) {
  .home-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 14.5vh;
    align-items: center;
    box-sizing: border-box;
  }
  .home-page .hero {
  
    width:100vw;
    box-sizing: border-box;
    color:  rgb(52,208,218);
    height: calc(100vh - 14.5vh);
    background: linear-gradient( rgb(0,0,112), #00000000);
    background-blend-mode: normal;
  
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
  
.hero .name {
  font-size: 2.3vh;
  justify-self: center;
  font-weight: 400;
  background-color: #101010;;
  color: #E98A15;
  border: 0.19vh solid #d4f0fc;
  border-bottom: 0.19vh solid  rgb(52,208,218);;
  border-top: 0.19vh solid #89d6fb;
  width: fit-content;
  padding: 1.19vh 1.19vw;
  margin:0;
}

.hero .summary {
  font-size: 1.69vh;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 2.12vh;
  animation: max 0.48 ease-in-out;
  
}
/*  #d4f0fc  #89d6fb  #02a9f7  #02577a  #01303f    */

.hero .image {
  height: 38.2vh;
  
  image-rendering: optimizeQuality;
  padding: 0;
  margin:0;
  border-radius: 0 0 9.01vw 9.01vw;
 align-self: flex-start;
background: linear-gradient( rgb(50,65,218),#00000000);

}

.hero .person {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.summary strong {
  line-height: 2.12vw;
  color: 	 rgb(0, 35, 46);
  background-color: rgb(145,135,0);
}

.hero .discription {
  padding:  2.12vh 5.57vw;
  box-sizing: border-box;
  height: fit-content;
  width: 86vw;
  margin-top: 1.19vh;
  background: rgb(0,0,43);
  border-radius: 1.19vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: skewX(0);
  box-shadow: 0.8vw 1.19vw 2.12vw 0.3vh rgb(50,65,218);
  font-size: 1.19vh;
  text-wrap: wrap;
  transition: 0.48s ease-in-out;
}


.hero .discription:hover {
  transform: none;
  box-shadow: 0 0 3.44vw 0.3vh  rgb(200,190,34);
  transition: 0.28s ease-in-out;
}

.skills {
  padding: 0 5.57vw;

  box-sizing: border-box;
  height: fit-content;
  
  color: rgb(251, 214, 137);
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
gap: 5.57vh;
}

.skills div img {
  height: 14.5vh;
  align-self: center;
  justify-self: center;
}
.skills h3 {
  color:rgb(251,214,85);
  margin-bottom: 3.44vh;
  font-size: 2.12vh;
  text-align: center;
}
.skills u  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.12vh;
  text-decoration: none;
  font-size: 1.99vh;
  font-weight: 400;
  color:#fff;
  padding: 3.44vh 3.44vw;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  
}

.skills div {
  
 
  border: 0.5vh solid rgb(0,0,218);
  background-color: rgb(0,0,81);
  border-radius: 3.44vw 3.44vw;
  height: fit-content;
  width: 86vw;
  padding: 5.57vh 2.12vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
}

.skills u li {

}
.home-page .heading {
  text-align: center;
  font-size: 5.57vw;
  color:  rgb(52,208,218);
  padding-bottom: 2.12vh;
  border-bottom: 1.19vh solid rgb(145,135,0);
}
.portfolio h1 {
  font-size: 5.57vh;
  padding: 3.44vh 2.12vh;
  color: #fff;
  background-color: #02577a;
  border-radius: 2.12vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}



.portfolio {
  width: 86vw;
  padding: 14.5vh 5.57vw;
  box-sizing: border-box;
  height: fit-content;
  background: linear-gradient( #00000000, rgb(0,0,193));
  display: flex;
  flex-direction: column;
  border-radius: 0 0 14.5vw 14.5vw;
  gap: 14.5vh;
  align-items: center;
}


.portfolio .piece {
  transform: skewX(-7deg);
  color: #d4f0fc;
  box-shadow: 1.19vh 1.19vh 1.19vh 0.5vh  rgb(0,0,59);;
  background-color:  rgb(0,0,112);
  border-radius: 1.19vh;
  width: fit-content;
  box-sizing: border-box;
  width: 15%;
  padding: 1vh 2vw;
  transition: 0.48s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  font-size: 4.63vw;
}


.portfolio .piece:hover {
  transform: none;
  color: rgb(251, 214, 137);
  background-color:   rgb(0,0,59);
  box-shadow: 0 0 2.12vh 1.19vh  rgb(0,0,218);;;
  border-radius: 1.19vh;
  width: fit-content;
  box-sizing: border-box;
  width: 72.73%;
  padding: 2.12vh 5.57vw;
  transition: 0.48s ease-in-out;
 
}

.piece a {
  font-size: 5.57vw;
   justify-self: center;
 }
 
 .piece .links a {
   font-size: 3.44vw;
   text-decoration: none;
   color: rgb(251,214,85);
   font-weight: 800;
 }

.cta {
  padding: 9.01vh 5.57vw 9.01vh 5.57vw;
  width: 86vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.12vh;
  background: linear-gradient( #00000000,  rgb(0,0,193),#00000000);
  margin-bottom: 14.5vh;
  border-radius: 5.57vw;
}

.cta h3 {
  color: #fff;
  text-align: center;
  line-height: 3.44vh;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: sans-serif;
  font-size: 2.12vh;
}

.cta .button {
  width: fit-content;
  height: fit-content;
  font-size: 2.12vh;
  padding: 1.19vh 2.12vw;
  border-radius: 0.8vh;
  background-color: rgb(251,214,85);
  color: rgb(0,35,46);
  border: 1px solid #000;
  text-decoration: none;
  font-weight: 800;
  transition: 0.28s ease-in-out;
}

.cta .button:hover {
  width: fit-content;
  height: fit-content;
  font-size: 2.12vh;
  padding: 1.19vh 2.12vw;
  border-radius: 0.8vh;
  background-color: #89d6fb;
  color: rgb(0,35,46);
  border: 1px solid #000;
  text-decoration: none;
  font-weight: 800;
  transition: 0.48s ease-in-out;
}


.discription img {
  width: 23.6vw;
  align-self: center;
  border-radius: 1.19vw;
}
}

/* 
@media (max-width: 850px) {
  .home-page .hero {
    padding: 3.44vh 14.5vw ;
    box-sizing: border-box;
    color: #d4f0fc;
    height: calc(100vh - 9.01vh);
    background:  rgb(0, 35, 46);
    mix-blend-mode:luminosity;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5.57vh;
  }y


 

.hero .summary {
  font-size: 2.12vh;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 2.12vh;
  
  
}
.hero .name {
  font-size: 2.12vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 1.19vh;
}
.hero .image {

  background-position: center;

 height: 38.2vh;
 width: auto;
  image-rendering: optimizeQuality;
  

  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2.12vw;
 align-self: center;
background: linear-gradient( rgb(0, 35, 46),  #01303f,#02577a);
box-shadow: 0 0 3.44vw 2.12vh rgb(0, 35, 46);
border: 1.19vh solid rgb(0, 35, 46);
}
.hero .discription {
  padding:  2.12vw 2.12vw;
  height: 38.2vh;
  box-shadow: 0 0 3.44vh 1.19vh #01303f;
  background-color: #01303f;
  border-radius: 2.12vw 1.19vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: skew(-7deg);
  animation: max 0.48 ease-in-out;
}


.hero .discription h3 {
  font-size: 1.19vh;
}

.portfolio {
  padding: 14.5vh 5.57vw;
  height: fit-content;
  box-sizing: border-box;
  background-color: #01303f;
  display: flex;
  flex-direction: column;
  gap: 23.6vw;
  align-items: center;
}

.portfolio .piece {
  color: #d4f0fc;
  box-shadow: 0 0 2.12vh 1.19vh #d4f0fc;
  border-radius: 1.19vh;
  width: fit-content;
  box-sizing: border-box;
  width:  61.8vw;;
  padding: 2.12vh 5.57vw;
  transition: 0.48s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.piece img {


  width: 100%;
  border-radius: 2.12vh;
  border: 0.3vh solid #fff;
}

.portfolio .piece:hover {
  color: rgb(251, 214, 137);
  background-color:  #02577a;
  box-shadow: 0 0 3.44vh 1.19vh #89d6fb;;
  border-radius: 1.19vh;
  width: fit-content;
  box-sizing: border-box;
  width: 61.8vw;
  padding: 2.12vh 5.57vw;
  transition: 0.48s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}


.skills {
  padding: 14.5vh 5.57vw;
  box-sizing: border-box;
  height: fit-content;
  background-color: rgb(0, 35, 46);
  color: #d4f0fc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.skills h3 {
  color: rgb(251,214,85);
  text-decoration: underline;
  font-size: 3.44vh;
  text-align: center;
}
.skills u  {
  display: flex;
  flex-direction: column;
  gap: 3.44vh;
  text-decoration: none;
  font-size: 2.12vh;
  font-weight: 500;
  color:#fff;
  letter-spacing: 5px;
  font-style: italic;
  margin-right: 1.19vh;
}

.skills u li {
  box-sizing: border-box;
  padding: 1.19vh 3.44vw;
  border-bottom: 1px solid rgb(251, 214, 137);
  background-color: #01303f;
  border-radius: 2.12vh;
}

} */
